
    
  .toggle-wrapper {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-wrapper img {
    width: 20px;
  }
 
  
  .mode-toggle {
    appearance: none;
    width: 50px;
    height: 24px;
    background-color: #A445ED;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }

  .mode-toggle::before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.3px;
    left: 2px;
    transition: 0.3s;
  }
  
  .mode-toggle:checked::before {
    left: 18px;
  }
  


  .subject-list {
    list-style: none;
    margin: 30px 0;
    padding: 0;
  }

  .subject-item {
    width: 350px;
    background-color: #f7fafc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .subject-item:hover {
    border: #A445ED 2px solid;

  }

  .icon {
    width: 40px;
    height: 40px;
    background: #ebedf0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .subject-item span {
    font-size: 1.2rem;
    font-weight: 600;
  }



  .welcome-page{
   min-width: 78rem;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    display: flex;

    background-color: #A445ED;
  }