<div  *ngIf="!showQuestion"class="welcome-page">
    <div class="welcome-text">
        <p class="welcome-title">Welcome to the</p>
        <p class ="welcome-subtitle">Frontend Quiz!</p>
        <p class="welcome-description">Pick a subject to get started.</p>
    </div>
<div class="subject-list-wrapper">
    <ul class="subject-list">
       @for (quiz of quizzes; track $index) {
        <li class="subject-item" (click)="goToQuestion(quiz)">
            <div class="icon" ><img src="{{quiz.icon}}" alt=""></div>
            <span>{{quiz.title}}</span>
          </li>
       }
    </ul>
</div>
</div>

<app-question-page *ngIf="showQuestion"></app-question-page>