<div class="welcome-page">
    <div class="welcome-text">
        <p class="welcome-title">Welcome to the</p>
        <p class ="welcome-subtitle">Frontend Quiz!</p>
        <p class="welcome-description">Pick a subject to get started.</p>
    </div>
<div class="subject-list-wrapper">
    <ul class="subject-list">
        <li class="subject-item">
            <div class="icon" style="background-color: red" ><img src="./assets/images/icon-html.svg" alt=""></div>
            <span>Html</span>
          </li>
    </ul>
</div>
</div>

     