<div class="welcome-page">
<div class="question-container">
    <div class="welcome-text">
        <div class="question-wrapper">
        <div>
            <p class="question-number">Question 6 of 10</p><br>
            <p class="Question">Which of these color these color contrast ratios defines the minimum WCAG 2.1 Level AA requirement for normal text?</p>
        </div>
        <div class="progress-container">
            <div class="progress-bar"></div>
          </div>          </div>
    </div>
<div class="subject-list-wrapper">
    <ul class="subject-list">
    
        <li class="subject-item">
            <div class="icon">A</div>
            <span> Html</span>
        </li>
    </ul>
</div>
</div>

<button class="submit-btn">Submit Answer</button>
</div>
